@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import '../css/reset.css';
* {
  box-sizing: border-box;
}

html {
  font-size: clamp(3.2px, 0.7716049383vw, 10px);
  scrollbar-gutter: stable;
  -webkit-text-size-adjust: 100%;
  font-family: "Noto Sans";
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-weight: 500;
  line-height: 1.5;
  color: #404040;
}

.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.container {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.main {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.scene {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.scene-max {
  max-width: 129.6rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.position-absolute {
  position: absolute;
}

/* header */
/* ------------------------------------------------------------------- */
.header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 6.4rem;
  background: #FFF;
  z-index: 100;
}

.header-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 129.6rem;
  padding: 0 2rem;
}
.header-content h1 {
  background: url(../images/device-pc.svg) center center no-repeat;
  background-size: auto 100%;
  width: 14rem;
  height: 4rem;
  font-size: 0;
}
.header-content .menu ul {
  display: flex;
  gap: 2.4rem;
}
.header-content .menu ul li a {
  font-size: 1.6rem;
  font-weight: 500;
  color: #404040;
  letter-spacing: 0.1rem;
  text-indent: 0.1rem;
  line-height: 1.5;
  padding: 0.4rem 1.2rem;
}

/* nelson-p2+p3+p4 */
/* ------------------------------------------------------------------- */
.main .scene h4 {
  font-size: 1.6rem;
  color: #404040;
  font-weight: 700;
  margin-top: 8rem;
}

.main .scene h3 {
  font-size: 8rem;
  color: #404040;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 4rem;
}

/* nelson */
/* ------------------------------------------------------------------- */
.nelson .scene {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  margin-top: 6.4rem;
}
.nelson .scene .nelson-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 40%;
  color: #404040;
}
.nelson .scene .nelson-content h2 {
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-indent: 0.2rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}
.nelson .scene .nelson-content p {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-indent: 0.1rem;
}
.nelson .scene .nelson-content ul {
  display: flex;
  margin-top: 6rem;
  gap: 2.4rem;
}
.nelson .scene .nelson-content li a {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-indent: 0.1rem;
  line-height: 1.5;
  padding: 1.2rem 2.4rem;
  border-radius: 5rem;
  color: #404040;
  border: 1px solid #404040;
}
.nelson .scene .nelson-content li a:hover {
  background: #404040;
  color: #FFF;
}
.nelson .scene .nelson-bg {
  background: url(../images/index_person.png) center center no-repeat;
  background-size: auto 100%;
  width: 74.6rem;
  height: 80rem;
  position: relative;
  z-index: -2;
}

.nelson .illus {
  position: absolute;
  width: 192rem;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.nelson .illus .illus_01 {
  background: url(../images/index_decora_4.png) center center no-repeat;
  background-size: auto 100%;
  width: 31.4rem;
  height: 9.2rem;
  top: 16.5%;
  left: 11.7%;
}
.nelson .illus .illus_02 {
  background: url(../images/index_decora_3.png) center center no-repeat;
  background-size: auto 100%;
  width: 14rem;
  height: 14rem;
  top: 7%;
  left: 4.5%;
}
.nelson .illus .illus_03 {
  background: url(../images/index_decora_5.png) center center no-repeat;
  background-size: auto 100%;
  width: 18rem;
  height: 12rem;
  top: 75%;
  left: 27.5%;
}
.nelson .illus .illus_04 {
  background: url(../images/index_decora_3.png) center center no-repeat;
  background-size: auto 100%;
  width: 8rem;
  height: 8rem;
  top: 66%;
  left: 37%;
}
.nelson .illus .illus_05 {
  background: url(../images/index_decora_1.png) center center no-repeat;
  background-size: auto 100%;
  width: 20rem;
  height: 19.8rem;
  top: 13%;
  left: 40.7%;
}
.nelson .illus .illus_06 {
  background: url(../images/index_decora_2.png) center center no-repeat;
  background-size: auto 100%;
  width: 16rem;
  height: 13.7rem;
  top: 72%;
  left: 79.5%;
}
.nelson .illus .illus_07 {
  background: url(../images/index_decora_3.png) center center no-repeat;
  background-size: auto 100%;
  width: 14rem;
  height: 14rem;
  top: 26%;
  left: 86%;
}

/* nelson-p2 */
/* ------------------------------------------------------------------- */
.main.nelson-p2 {
  background: rgb(36, 20, 11);
}

.nelson-p2 .scene {
  padding: 8rem 0;
  letter-spacing: 0.1rem;
  text-indent: 0.1rem;
}
.nelson-p2 .scene h4 {
  color: #FFF;
  margin-top: 0;
}
.nelson-p2 .scene h3 {
  color: #FFF;
}
.nelson-p2 .scene ul {
  display: flex;
  gap: 2.4rem;
}
.nelson-p2 .scene ul li {
  position: relative;
  background: rgb(253, 247, 241);
  width: 100%;
  line-height: 1.5;
  color: rgb(64, 64, 64);
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 2rem;
  gap: 1.2rem;
}
.nelson-p2 .scene ul li svg {
  position: absolute;
  top: 13%;
  right: 8%;
  fill: #404040;
  width: 2.4rem;
  height: 2.4rem;
}
.nelson-p2 .scene ul li .nelson-p2-content span {
  font-size: 1.6rem;
  font-weight: 700;
}
.nelson-p2 .scene ul li .nelson-p2-content h5 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}
.nelson-p2 .scene ul li .nelson-p2-content p {
  font-size: 1.6rem;
}
.nelson-p2 .scene ul li .arrow {
  position: relative;
  bottom: 0;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background: #404040;
  border: 1px solid #404040;
}
.nelson-p2 .scene ul li .arrow svg {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #FFF;
  line-height: 1.5;
}
.nelson-p2 .scene ul li .arrow:hover {
  background: #000;
}

/* nelson-p3 */
/* ------------------------------------------------------------------- */
.main.nelson-p3 {
  text-align: center;
}

.main.nelson-p3 ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2.4rem;
  margin: 4rem 0;
}
.main.nelson-p3 ul li {
  display: flex;
  width: 100%;
  height: 39.7rem;
}
.main.nelson-p3 ul li .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  margin: 2.8rem;
  padding: 4rem;
  background: rgb(253, 247, 241);
  line-height: 1.5;
}
.main.nelson-p3 ul li .content span {
  font-size: 1.4rem;
}
.main.nelson-p3 ul li .content h6 {
  font-size: 1.6rem;
}
.main.nelson-p3 ul li .content h5 {
  font-size: 2.4rem;
}
.main.nelson-p3 ul li .content p {
  font-size: 1.6rem;
}
.main.nelson-p3 ul li .content a {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-indent: 0.1rem;
  line-height: 1.5;
  padding: 1.2rem 2.4rem;
  border-radius: 5rem;
  color: #FFF;
  background: #404040;
  border: 1px solid #404040;
}
.main.nelson-p3 ul li .content a:hover {
  background: #000;
}
.main.nelson-p3 ul li:nth-of-type(1) {
  background: url(../images/project_1.png) center center no-repeat;
  background-size: auto 100%;
}
.main.nelson-p3 ul li:nth-of-type(2) {
  background: url(../images/project_2.png) center center no-repeat;
  background-size: auto 100%;
}
.main.nelson-p3 ul li:nth-of-type(3) {
  background: url(../images/project_3.png) center center no-repeat;
  background-size: auto 100%;
}

.main.nelson-p3 .scene > a {
  display: -webkit-inline-box;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-indent: 0.1rem;
  line-height: 1.5;
  padding: 1.2rem 2.4rem;
  border-radius: 5rem;
  color: #FFF;
  background: #404040;
  border: 1px solid #404040;
  margin-bottom: 8rem;
}
.main.nelson-p3 .scene > a:hover {
  background: #000;
}

/* nelson-p4 */
/* ------------------------------------------------------------------- */
.main.nelson-p4 .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4rem;
}
.main.nelson-p4 .top .title h3 {
  margin-bottom: 0;
}
.main.nelson-p4 .top a {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-indent: 0.1rem;
  line-height: 1.5;
  padding: 1.2rem 2.4rem;
  border-radius: 5rem;
  color: #404040;
  border: 1px solid #404040;
}
.main.nelson-p4 .top a:hover {
  background: #404040;
  color: #FFF;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 8rem;
}
.swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.swiper .swiper-slide .nelson-bg {
  width: 100%;
  height: 24rem;
}
.swiper .swiper-slide p {
  font-size: 1.6rem;
}
.swiper .swiper-slide h6 {
  font-size: 2.4rem;
  font-weight: 700;
}
.swiper .swiper-slide .bottom {
  display: flex;
  justify-content: space-between;
}
.swiper .swiper-slide .bottom span {
  font-size: 1.4rem;
}
.swiper .swiper-slide .bottom .tail,
.swiper .swiper-slide .bottom .tail .views,
.swiper .swiper-slide .bottom .tail .shares {
  display: flex;
  align-items: center;
}
.swiper .swiper-slide .bottom .tail {
  gap: 1.2rem;
}
.swiper .swiper-slide .bottom .tail .views,
.swiper .swiper-slide .bottom .tail .shares {
  gap: 0.4rem;
}
.swiper .swiper-slide:nth-of-type(1) .nelson-bg {
  background: url(../images/blog_2.png) center center no-repeat;
  background-size: auto 100%;
}
.swiper .swiper-slide:nth-of-type(2) .nelson-bg {
  background: url(../images/blog_3.png) center center no-repeat;
  background-size: auto 100%;
}
.swiper .swiper-slide:nth-of-type(3) .nelson-bg {
  background: url(../images/blog_5.png) center center no-repeat;
  background-size: auto 100%;
}

/* nelson-p5 */
/* ------------------------------------------------------------------- */
.main.nelson-p5 {
  background: linear-gradient(rgba(0, 0, 0, 0.3764705882), rgba(0, 0, 0, 0.3764705882)), url(../images/subscription_bg.png) center center no-repeat;
  background-size: auto 100%;
  width: 100%;
  height: 44rem;
}
.main.nelson-p5 .scene {
  display: flex;
  gap: 2.4rem;
}
.main.nelson-p5 .nelson-bg {
  background: url(../images/subscription.png) center center no-repeat;
  background-size: auto 100%;
  width: 52.6rem;
  height: 44rem;
}
.main.nelson-p5 .content {
  margin: 0 4rem;
  width: 51%;
}
.main.nelson-p5 .content h4,
.main.nelson-p5 .content h3 {
  color: #FFF;
  margin-bottom: 0;
}
.main.nelson-p5 .content p {
  font-size: 1.6rem;
  color: #FFF;
  letter-spacing: 0.05rem;
  text-indent: 0.05rem;
  margin: 2.4rem 0;
}
.main.nelson-p5 .content .form-group {
  position: relative;
}
.main.nelson-p5 .content .form-group input {
  width: 100%;
  font-size: 1.6rem;
  padding: 2rem 3.2rem;
  border: 1px solid #FFF;
  background-color: transparent;
  border-radius: 4rem;
  line-height: 1.38;
  color: #FFF;
}
.main.nelson-p5 .content .form-group input::-moz-placeholder {
  color: #FFF;
  letter-spacing: 0.1rem;
  text-indent: 0.1rem;
}
.main.nelson-p5 .content .form-group input::placeholder {
  color: #FFF;
  letter-spacing: 0.1rem;
  text-indent: 0.1rem;
}
.main.nelson-p5 .content .form-group a {
  position: absolute;
  display: block;
  top: 50%;
  right: 1.5%;
  transform: translateY(-50%);
  font-size: 1.6rem;
  background: #FFF;
  color: #404040;
  padding: 1.2rem 2.4rem;
  border-radius: 4rem;
}
.main.nelson-p5 .content .form-group a:hover {
  background: #c8c8c8;
  color: #FFF;
}

/* nelson-p6 */
/* ------------------------------------------------------------------- */
.main.nelson-p6 {
  background: rgb(36, 20, 11);
}
.main.nelson-p6 .scene {
  display: flex;
  padding: 8rem 0;
  gap: 2.4rem;
}

.main.nelson-p6 .content {
  width: 40.6%;
  display: flex;
  flex-direction: column;
}
.main.nelson-p6 .content h4,
.main.nelson-p6 .content h3 {
  margin: 0;
  color: #FFF;
}
.main.nelson-p6 .content .text {
  color: #FFF;
  font-size: 1.6rem;
  margin: 2.4rem 0;
}
.main.nelson-p6 .content ul {
  display: flex;
  gap: 1.2rem;
  margin: 9.2rem 0 2.4rem 0;
}
.main.nelson-p6 .content ul li a {
  padding: 1.1rem;
  border: 1px solid #FFF;
  border-radius: 10rem;
  line-height: 0;
}
.main.nelson-p6 .content ul li a svg {
  fill: #FFF;
}
.main.nelson-p6 .content a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  color: #FFF;
  letter-spacing: 0.05rem;
  text-indent: 0.05rem;
}
.main.nelson-p6 .content a svg {
  fill: #FFF;
}

.main.nelson-p6 .material {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 57.6%;
  padding: 0 4rem;
}
.main.nelson-p6 .material .top {
  display: flex;
  gap: 2.4rem;
}
.main.nelson-p6 .material input,
.main.nelson-p6 .material textarea {
  width: 100%;
  font-size: 1.6rem;
  padding: 2rem 3.2rem;
  border: 1px solid #FFF;
  background-color: transparent;
  border-radius: 4rem;
  line-height: 1.38;
  color: #FFF;
}
.main.nelson-p6 .material input::-moz-placeholder, .main.nelson-p6 .material textarea::-moz-placeholder {
  color: #FFF;
  letter-spacing: 0.1rem;
  text-indent: 0.1rem;
}
.main.nelson-p6 .material input::placeholder,
.main.nelson-p6 .material textarea::placeholder {
  color: #FFF;
  letter-spacing: 0.1rem;
  text-indent: 0.1rem;
}
.main.nelson-p6 .material textarea {
  height: 13.6rem;
  resize: none;
}
.main.nelson-p6 .material a {
  text-align: center;
  font-size: 1.6rem;
  color: #404040;
  background: #FFF;
  line-height: 1.5;
  padding: 1.2rem 0;
  border-radius: 4rem;
}
.main.nelson-p6 .material a:hover {
  background: #c8c8c8;
  color: #FFF;
}/*# sourceMappingURL=style.css.map */